<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\practiceProj\env\testenv\Scripts\python.exe" />
    <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\practiceProj\env\testenv\Scripts\python.exe&quot; %s %s" resourceType="File" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\practiceProj\env\testenv\Scripts\python.exe|C:\practiceProj\env\testenv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
